# NOTE: rename this file as '.env.test' and change YOURNAME or the full DB path(s) below

# Using PostgreSQL
DATABASE_URL="postgres://YOURNAME@localhost/sequel-audited-test"

# Using SQLite
# DATABASE_URL="sqlite://spec/sequel-audited-test.db"
